:root {
  --frosted-mint: #d8f3dc;
  --evergreen: #081c15;
  --bg-black: #000;
  --text-muted: #cbd5e1;
}

.sidebar {
  width: 240px;
  min-height: 100vh;
  background: linear-gradient(180deg, var(--evergreen), black);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo {
  color: var(--frosted-mint);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top:100px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-item {
  padding: 12px 16px;
  border-radius: 12px;
  color: var(--text-muted);
  text-decoration: none;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
   transition: 
    background 0.25s ease,
    transform 0.2s ease,
    box-shadow 0.25s ease;
}
.nav-item svg {
  transition: transform 0.2s ease, color 0.2s ease;
}

.nav-item:hover svg {
  transform: scale(1.1);
}

.nav-item.active svg {
  color: #d8f3dc;
}

.nav-item:hover {
  background: rgba(216, 243, 220, 0.08);
  color: white;
  transform: translateX(4px);
}

/* active (auto from NavLink) */
.nav-item.active {
  background: rgba(216, 243, 220, 0.12);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
  position: relative;
  box-shadow: 0 0 1px rgba(216, 243, 220, 0.25);
}

/* mint bar */
.nav-item.active::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 60%;
  background: var(--frosted-mint);
  border-radius: 10px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}
.logo-img {
  width: 200px;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
  border:2px solid var(--frosted-mint)
}